body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:636px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:101px;
  width:354px;
  height:43px;
}
#u38_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:111px;
  width:300px;
  height:25px;
}
#u39_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:22px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:111px;
  width:9px;
  height:22px;
}
#u40_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:101px;
  width:102px;
  height:43px;
  font-size:15px;
  color:#FFFFFF;
}
#u41_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u42_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:101px;
  width:38px;
  height:43px;
  color:#999999;
}
#u42_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u43_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:159px;
  top:65px;
  width:45px;
  height:36px;
  color:#FF3300;
}
#u43_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  word-wrap:break-word;
}
#u44_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:65px;
  width:37px;
  height:36px;
  color:#FF3300;
}
#u44_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  word-wrap:break-word;
}
#u45_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF3300;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:65px;
  width:43px;
  height:36px;
  color:#FF3300;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:39px;
  word-wrap:break-word;
}
